.centerForm {
    text-align: center;  
}

.libroinfo{
        text-align: left;
}

.box{
    background-color: #FEF4E3;
}
.my-custom-button {
    background-color: #F7A74A !important;
    color: #F5F5F5 !important;
    border-color: #f09328 !important;
}