body {
    background-color: #D2C8BF;
}

.login-form{
    background-color: #E3DED8;
    border-radius: 5px;
    padding: 20px;
}

.login-button{
    background-color: #F7A74A;
    color: black;
  }

.login-button{
    background-color: #F7A74A;
    border-color: #F7A74A;
    color: black;
  }

.login-button:hover {
    background-color: #D2C8BF;
    border-color: #F7A74A;
    color: black;
  }


.encabezadoh2{
    font-family: sans-serif;
    margin-top: 30px;
  }

.login-form{
    font-family: sans-serif;
  }


