.App {
  text-align: center;
}

body {
  background-color: #D2C8BF;
  color: #012840 !important;
}

.tabla-con-fondo {
  background-color: #FEF4E3; /* Color de fondo deseado */
  grid-column: 1 / span 12; /* La tabla ocupa 12 columnas del grid */
  margin: 0 auto; /* Centra la tabla horizontalmente en su contenedor */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #012840 !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login-button{
  background-color: #8b4a00;
  color: #012840 !important;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columnas en el grid */
  gap: 10px; /* espacio entre las celdas del grid */
  justify-items: center; /* Centra horizontalmente el contenido en las celdas */
}
