@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #012840 !important;
  background-image: repeating-linear-gradient(45deg, #D2C8BF, #b8ad96 100px)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root-container {
  background-image: repeating-linear-gradient(45deg, #D2C8BF, #b8ad96 100px);
  min-width: fit-content;
}

.rendered-component {
  height: 100vh;
}
